body{
    background-color: dimgrey;
}
h2{
    margin-top: 5px;
    margin-bottom: 5px;
}
.weekday li{
    width: 13.5%;
    height: 150px;
    float:left;
    border : 1px solid black;
    text-align:center;
    margin-left : auto;
    margin-right : auto;
    padding: 0px;
    border-radius:5px;
    list-style-type: none;
}
.weekday h3{
    width:180px; 
    -webkit-transform-origin:84px 70px;
    display:inline-block;
    -webkit-transform:rotate(-90deg);
}
.first {
    background-color: blue !important;
}
.second {
    background-color: red !important;
}
.both {
    background-color: green !important;
}
